{% extends 'admin/change_list.html' %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>

        function handleSubmit(){
            console.log("submited");
            const file_input = document.getElementById('myfile');
            console.log(document.submit_tsv.elements[0].name);
            console.log(file_input.files[0]);
            {#axios.post('http://localhost:8000', )#}
        }
    </script>
    <style>
    .add-pois-button {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: #79aec8;

    }
    .pois-input {
        height: 30px;
    }
    .create-pois-form{
        border-width: 5px;
    }
    </style>
    <div>
        <!-- Your custom HTML content goes here -->
        <h2>Add points of interest by tsv</h2>
        <div>
            <form onsubmit="handleSubmit()" class = "create-pois-form" name="submit_tsv">
            <label for="myfile">Select a TSV file:</label>
            <input type="file" id="myfile" name="myfile" class="pois-input">
                <div>
            <button
                class="add-pois-button"
                type="submit"
            >
                Create PoIs
            </button>
                    </div>
            </form>
        </div>
    </div>
    {{ block.super }}
{% endblock %}